// Header

header {
  h1 {
    @media (max-width: 767px) { font-size: 30px; margin-top: 15px; margin-bottom: 15px; }
    @media (min-width: 768px) { margin-bottom: 20px; }

    a {
      color: #222;
      text-decoration: none;

      &:active, &:focus, &:hover, &:visited {
        color: #222;
        text-decoration: none;
      }
    }

    .loading {
      display: inline-block;
      vertical-align: top;
      line-height: 10px;
    }

    .gamma {
      color: #1d66bf;
      margin-left: 5px;
    }

    .tagline {
      color: #bbb;
      font-size: 12px;
      font-weight: normal;
      font-style: italic;
      margin-left: 1px;
    }
  }

  .mobile-sidebar-toggle {
    display: none;
    @media (max-width: 991px) { display: inline-block; }

    position: fixed;
    width: 50px;
    z-index: 1000;

    cursor: pointer;
    color: rgba(29, 102, 191, 0.5);
    font-size: 32px;
    line-height: 36px;
    padding: 5px 0;
    text-align: center;
    margin: 12px 0 10px -50px;
    background-color: #eee;
    border-radius: 5px;
  }

  .signin-link {
    @media (max-width: 767px) { margin-top: 30px; }
    @media (min-width: 768px) { margin-top: 34px; }
  }
}