{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "curly": ["error", "all"],
    "eol-last": ["warn", "always"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true, "mode": "strict" }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "linebreak-style": ["warn", "unix"],
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-tabs": "warn",
    "no-trailing-spaces": "warn",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_$" }],
    "object-curly-spacing": ["warn", "always"],
    "react/jsx-no-bind": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-string-refs": "error",
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "never"]
  }
}
