doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title FreeFeed
    unless opts.hot
        link(rel='stylesheet', href='[[ common-*.css ]]')
        link(rel='stylesheet', href='[[ app-*.css ]]')
    noscript
      style.
        .jsonly { display: none }
    style.
      body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0 15px }
      h1 { font-size: 36px; font-weight: 500; margin-top: 10px }
      h1 a { color: #222; text-decoration: none }

    link(rel='apple-touch-icon', sizes='57x57', href='[[ assets/icons/apple-touch-icon-57x57.png ]]')
    link(rel='apple-touch-icon', sizes='60x60', href='[[ assets/icons/apple-touch-icon-60x60.png ]]')
    link(rel='apple-touch-icon', sizes='72x72', href='[[ assets/icons/apple-touch-icon-72x72.png ]]')
    link(rel='apple-touch-icon', sizes='76x76', href='[[ assets/icons/apple-touch-icon-76x76.png ]]')
    link(rel='apple-touch-icon', sizes='114x114', href='[[ assets/icons/apple-touch-icon-114x114.png ]]')
    link(rel='apple-touch-icon', sizes='120x120', href='[[ assets/icons/apple-touch-icon-120x120.png ]]')
    link(rel='apple-touch-icon', sizes='144x144', href='[[ assets/icons/apple-touch-icon-144x144.png ]]')
    link(rel='apple-touch-icon', sizes='152x152', href='[[ assets/icons/apple-touch-icon-152x152.png ]]')
    link(rel='apple-touch-icon', sizes='180x180', href='[[ assets/icons/apple-touch-icon-180x180.png ]]')
    link(rel='icon', type='image/png', sizes='16x16', href='[[ assets/icons/favicon-16x16.png ]]')
    link(rel='icon', type='image/png', sizes='32x32', href='[[ assets/icons/favicon-32x32.png ]]')
    link(rel='icon', type='image/png', sizes='96x96', href='[[ assets/icons/favicon-96x96.png ]]')
    link(rel='icon', type='image/png', sizes='192x192', href='[[ assets/icons/android-chrome-192x192.png ]]')
    link(rel='shortcut icon', href='[[ assets/icons/favicon.ico ]]')
    link(rel='mask-icon', color='#000000', href='[[ assets/icons/safari-pinned-tab.svg ]]')
    meta(name='theme-color', content='#1d66bf')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-square70x70logo', content='[[ assets/icons/mstile-70x70.png ]]')
    meta(name='msapplication-square150x150logo', content='[[ assets/icons/mstile-150x150.png ]]')
    meta(name='msapplication-square310x310logo', content='[[ assets/icons/mstile-310x310.png ]]')
    meta(name='msapplication-wide310x150logo', content='[[ assets/icons/mstile-310x150.png ]]')

  body
    #app
      .container
        .row.header-row
          .col-md-4
            .header
              h1.title
                a(href='/') FreeFeed
                sup(title='Gamma') &nbsp;&gamma;
              .jsonly
                p Loading...
        .row
          .col-md-9
            .content
              .box
                noscript
                  #js-disabled-warn.alert.alert-danger(role='alert')
                    strong Javascript is disabled!
                    |  Looks like you have JavaScript disabled in your browser. Please enable it to enjoy our service.

    if opts.livereload
      script( src="/webpack-dev-server.js" )

    script.
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '#{opts.appConfig.googleAnalytics.trackingId}', 'auto');
      ga('require', 'autotrack');
      ga('send', 'pageview');
    script(async src='https://www.google-analytics.com/analytics.js')

    script(src='https://cdn.ravenjs.com/3.2.1/raven.min.js')
    script.
      try {
        Raven.config('#{opts.appConfig.sentry.publicDSN}').install();
      } catch (e) {}

    script(src='[[ app-*.js ]]')
