.create-post {
  padding-top: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;

  .post-edit-options,
  .post-edit-actions {
    display: none;
  }

  &.expanded {
    .post-edit-options,
    .post-edit-actions {
      display: block;
    }
  }

  .alert-warning {
    margin: 10px 0;
  }
}
