.create-post {
  padding-top: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;

  .post-edit-options,
  .post-edit-actions {
    display: none;
  }

  &.expanded {
    .post-edit-options,
    .post-edit-actions {
      display: block;
    }
  }

  .post-edit-options {
    .xs-screen { display: none; }
    .other-screens { display: inline; }

    @media (max-width: 767px) { font-size: 12px; }
    @media (max-width: 539px) {
      .xs-screen { display: inline; }
      .other-screens { display: none; }
    }
  }

  .alert-warning {
    margin: 10px 0;
  }

  .post-visibility-icon {
    position: absolute;
    margin: -30px 0 0 -22px;
    color: #666;
  }
}
