.create-post {
  padding-top: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;

  .post-edit-options,
  .post-edit-actions {
    display: none;
  }

  &.expanded {
    .post-edit-options,
    .post-edit-actions {
      display: block;
    }
  }

  .selector-warning {
    background-color: #FCF8E3;
    padding: 12px 18px;
    border: 1px solid #FBF1D8;
    color: #796E58;
    margin: 10px 0;
  }
}
