// @import "../common/select2/4.0.0-rc.2/theme/classic/_defaults";
// @import "../common/select2/4.0.0-rc.2/theme/classic/_multiple.scss";

.post-recipients {
  // Position select component next to "To:"
  .post-recipients-label {
    float: left;
    margin-top: 7px;
  }
  .Select {
    margin-top: -5px; // because new borderless UI visually adds 5px to the top padding
    margin-left: 20px; // room for "To:" on the left
  }

  // Override default react-select colors
  .Select--multi .Select-value {
    color: #555599;
  }

  // Remove border from select component
  .Select-control {
    border: none;
    box-shadow: none !important; // to remove "outline" on focus
  }

  // Add custom visual trigger instead of "placeholder" prop,
  // (the latter is only displayed when nothing is selected)
  .Select-input:after {
    content: 'Add/Edit...';
    color: #ccc;
    font-size: 0.9em; // 12.6px - same as font size in selected options
    margin-left: -2px;
  }
  .is-focused .Select-input:after {
    content: '';
  }

  // Move [x] icon in selected option from left to right
  .Select-value-icon {
    border-right: none !important;
    border-left: 1px solid #c2e0ff;
    float: right;
  }

  // Fix extra space in selected option title
  .Select-aria-only {
    display: none;
  }
}

.select2-container--default {
  &.select2-container--disabled {
    .select2-selection--multiple {
      border: 0 !important;
      background-color: #fff;
    }
  }
}

.select2-container--default {
  @extend .select2-container--open;

  .select2-selection--multiple {
    border: none;

    .select2-selection__choice {
      background-color: #f2f2f2;
      border: 1px solid #d8d8d8;
    }
  }
}

.select2-search__field {
  width: -moz-calc(100% - 25px) !important;
  width: -webkit-calc(100% - 25px) !important;
  width: calc(100% - 25px) !important;
}

.select2-container--open {
  .select2-selection--multiple {
    border: 1px solid #aaa !important;
  }
}

.select2-container--focus {
  .select2-selection--multiple {
    border: 1px solid #ccc !important;
  }
}

.post-recipients a {
  position: relative;
  vertical-align: middle;
  line-height: 33px;
}

// textarea for add|edit posts and comments
@mixin editarea {
  padding: 3px 5px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 6px;
}

label.option-box {
  display: block;

  .input {
    display: table-cell;
  }

  .option {
    display: table-cell;
    font-weight: normal;
    padding-left: 10px;
    padding-bottom: 5px;
  }
}
