.tippy-tooltip.gamma-theme {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);

  .tippy-arrow:before {
    // [x-arrow] is "CSS triangle" in Tippy.js, but we still need a rotated square for proper box-shadow
    content: '';
    position: absolute;
    z-index: -1;
    left: -5px;
    top: 2px;
    width: 10px;
    height: 10px;
    background: inherit;
    transform: rotate(45deg);
    box-shadow: -2px -2px 3px -1px rgba(0, 0, 0, 0.5);
  }

  .tippy-popper[x-placement^=bottom] & .tippy-arrow {
    border-bottom-color: #fff;
  }

  .tippy-popper[x-placement^=top] & .tippy-arrow {
    border-top-color: #fff;

    &:before {
      box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
      top: -12px;
    }
  }

  .tippy-content {
    color: #333;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;

    max-width: 180px;
    max-height: 180px;

    overflow-x: hidden;
    overflow-y: auto;
  }
}
