.user-name-wrapper {
  display: inline;
  position: relative;

  overflow-wrap: break-word;
  word-wrap: break-word;
}

.user-card {
  position: absolute;
  z-index: 10000;
  top: 30px;
  left: 0;
  width: 250px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);

  // Do not show UserCard on mobile screens
  @media (max-width: 767px) { display: none; }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 14px;
    top: -5px;
    width: 12px;
    height: 12px;
    background: inherit;
    transform: rotate(45deg);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  }

  .user-card-info {
    min-height: 97px; // 75px + 2px + 20px
    padding: 10px 8px 0 10px;
    background-color: #fff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    font-size: 12px !important;
    line-height: 15px;
    text-align: left;

    a {
      font-size: 12px !important;
    }

    .userpic {
      float: left;
    }

    .display-name {
      color: #000088;
      font-weight: bold;
      margin-left: 87px;
    }

    .username {
      color: #999;
      margin: 3px 0 0 87px;
    }

    .description {
      color: #666;
      margin: 7px 0 0 87px;
    }

    .status {
      color: #666;
      margin: 7px 0 6px 87px;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .user-card-actions {
    border-top: 1px #e4e4e4 solid;
    padding: 5px 10px 6px 10px;
    background-color: #f4f4f4;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

    color: #666;
    font-size: 13px !important;
    line-height: 17px;
    text-align: left;

    a {
      font-size: 13px !important;
      color: #555599 !important;
      font-weight: normal !important;
    }

    .user-card-actions-throbber {
      margin-left: 5px;
    }
  }
}
