<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>FreeFeed</title>

    <link rel="apple-touch-icon" sizes="57x57" href="<%= require('assets/icons/apple-touch-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= require('assets/icons/apple-touch-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= require('assets/icons/apple-touch-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= require('assets/icons/apple-touch-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= require('assets/icons/apple-touch-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= require('assets/icons/apple-touch-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= require('assets/icons/apple-touch-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= require('assets/icons/apple-touch-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('assets/icons/apple-touch-icon-180x180.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('assets/icons/favicon-16x16.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= require('assets/icons/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= require('assets/icons/favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= require('assets/icons/android-chrome-192x192.png') %>">
    <link rel="shortcut icon" href="<%= require('assets/icons/favicon.ico') %>">
    <link rel="mask-icon" color="#000000" href="<%= require('assets/icons/safari-pinned-tab.svg') %>">

    <meta name="theme-color" content="#1d66bf">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-square70x70logo" content="<%= require('assets/icons/mstile-70x70.png') %>">
    <meta name="msapplication-square150x150logo" content="<%= require('assets/icons/mstile-150x150.png') %>">
    <meta name="msapplication-square310x310logo" content="<%= require('assets/icons/mstile-310x310.png') %>">
    <meta name="msapplication-wide310x150logo" content="<%= require('assets/icons/mstile-310x150.png') %>">

    <style>
      * { box-sizing: border-box }
      body { font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; margin: 0 }
      .container { padding: 0 15px; margin: 0 auto }
      @media (min-width: 1200px) { .container { width: 970px } }
      h1 { font-size: 36px; font-weight: 500; margin: 10px 0 }
      h1 a { color: #222; text-decoration: none }
      h1 .tagline { color: #bbb; font-size: 12px }
      svg { width: 1em; height: 1em }
    </style>

    <noscript>
      <style>
        .jsonly { display: none }
      </style>
    </noscript>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <h1 class="title">
          <a href="/">FreeFeed</a><sup title="Gamma">&nbsp;&gamma;</sup>
        </h1>

        <div class="jsonly">
          <p>Loading...</p>
        </div>

        <noscript>
          <div role="alert" class="alert alert-danger">
            Looks like you have JavaScript disabled in your browser. Please enable it to enjoy our service.
          </div>
        </noscript>
      </div>
    </div>

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '<%= appConfig.googleAnalytics.trackingId %>', 'auto');
      ga('require', 'autotrack');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>

    <script src="https://cdn.ravenjs.com/3.2.1/raven.min.js"></script>
    <script>
      try {
        Raven.config('<%= appConfig.sentry.publicDSN %>').install();
      } catch (e) {}
    </script>
  </body>
</html>
