// Clike trigger

.comment-likes {
  color: #ccc;
  white-space: nowrap;

  $clike-icon-color: #ffb914;

  .clikes-trigger {
    display: inline-block;
    height: 18px;
    padding: 0 4px;
    margin-left: 0;
    vertical-align: bottom;

    cursor: pointer;
    border-radius: 2px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    outline: none;
  }

  .icon-heart {
    display: inline-block;
    line-height: 18px;
    vertical-align: baseline;
    margin-bottom: 0;

    opacity: 0.8;
    font-size: 12px;

    color: $clike-icon-color;
    fill: lighten($clike-icon-color, 40%);
  }

  .clikes-number {
    display: inline-block;
    line-height: 17px;
    vertical-align: top;

    opacity: 0.7;
    color: #9d9d9d;
    font-size: 10px;
    margin-left: 2px;
  }

  .icon-plus,
  .icon-times {
    display: inline-block;
    line-height: 17px;
    vertical-align: baseline;
    margin-bottom: 0;

    color: $clike-icon-color;
    font-size: 11px;
    margin-left: 3px;
  }

  .icon-times {
    color: #ccc;
  }

  &.clikes-zero {
    color: #ddd;

    .icon-heart {
      color: #dcdcdc;
      fill: #fff;
    }
  }

  &.clikes-open {
    .clikes-trigger {
      background-color: #f2f2f2;
    }

    .icon-heart,
    .clikes-number {
      opacity: 1;
    }
  }

  &.clikes-likable {
    .clikes-trigger {
      min-width: 31px;
      padding-right: 1px;
      margin-right: 2px;
    }
  }

  &.clikes-liked {
    .icon-heart {
      fill: $clike-icon-color;
    }
  }

  .comment-from-archive & {
    color: #e0d4bf !important;

    .icon-heart {
      color: #f6c361 !important;
      fill: #fffdd6 !important;
    }

    &.clikes-zero {
      color: #f1e5ce !important;

      .icon-heart {
        color: #f2e4ca !important;
        fill: #ffffea !important;
      }
    }

    &.clikes-liked .icon-heart {
      fill: #f6c361 !important;
    }

    .clikes-number {
      color: #b0a796 !important;
    }
  }
}


// Tooltip content

.clikes-loading {
  color: #666;
  font-style: italic;
}

.clikes-error {
  color: #b22;
}

.clikes-empty-list {
  color: #666;
}

.clikes-list {
  list-style: none;
  padding: 0;
  margin: 0;

  color: #666;

  li {
    display: inline;
  }
}
