.comments {
  font-size: 14px;
  line-height: 19px;
}

.comment {
  margin-top: 8px;

  .comment-icon {
    float: left;
    height: 16px;
    width: 16px;
    margin: 3px 2px 0 1px;

    text-decoration: none;
    line-height: 1em;

    .icon-comment {
      color: #999;
      fill: #eee;
    }

    &.comment-icon-special .icon-comment {
      color: desaturate(lighten(#1d66bf, 17%), 20%);
      fill: desaturate(lighten(#1d66bf, 50%), 20%);
    }

    .icon-comment-plus {
      color: #999;
      fill: #fff;
    }

    &.comment-icon-add {
      margin-top: 2px;
    }
  }

  .comment-body {
    margin-left: 19px;

    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .comment-timestamp {
    color: #ccc;
    white-space: nowrap;

    a {
      color: #bbb;
    }
  }

  .comment-likes {
    color: #ccc;
    white-space: nowrap;

    $clike-icon-color: #ffb914;

    .clikes-trigger {
      display: inline-block;
      min-width: 31px;
      height: 18px;
      padding: 0 2px 0 4px;
      margin-left: 0;
      vertical-align: middle;

      cursor: pointer;

      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .clikes-icon {
      display: inline-block;
      line-height: 18px;
      vertical-align: top;

      opacity: 0.8;
      font-size: 12px;

      .icon-heart {
        color: $clike-icon-color;
        fill: lighten($clike-icon-color, 40%);
        margin-bottom: -1px;
      }
    }

    .clikes-number {
      display: inline-block;
      line-height: 17px;
      vertical-align: top;

      opacity: 0.7;
      color: #9d9d9d;
      font-size: 10px;
      margin-left: 2px;
    }

    .clikes-sign {
      display: none;
      line-height: 17px;
      vertical-align: top;

      color: $clike-icon-color;
      font-size: 11px;
      margin-left: 3px;

      .icon-plus { display: inherit; }
      .icon-times { display: none; color: #ccc; }
    }

    .clikes-throbber {
      display: none;
      margin: -3px 0 0 1px;
    }

    &.clikes-zero {
      color: #ddd;

      .clikes-icon .icon-heart {
        color: #dcdcdc;
        fill: #fff;
      }
      .clikes-number {
        display: none;
      }
    }

    &.clikes-likable .clikes-trigger {
      background-color: #f2f2f2;
      border-radius: 2px;

      .clikes-icon { opacity: 1; }
      .clikes-number { display: none; }
      .clikes-sign { display: inline-block; }
    }

    &.clikes-liking {
      .clikes-sign { display: none !important; }
      .clikes-throbber { display: inherit; }
    }

    &.clikes-liked {
      .icon-heart { fill: $clike-icon-color; }
      .icon-plus { display: none; }
      .icon-times { display: inherit; }
    }
  }

  .comment-textarea {
    @include editarea;
  }

  .comment-cancel {
    font-size: 12px;
    margin-left: 10px;
  }

  .comment-throbber {
    margin-left: 10px;
  }

  .comment-error {
    margin: 10px 0 0 0 !important;
  }

  .more-comments-throbber {
    display: inline-block;
    width: 16px;
    margin-left: -1px;
    margin-right: 4px;
  }

  .more-comments-link {
    font-style: italic;
    text-decoration: none;

    &:hover .more-comments-core {
      text-decoration: underline;
    }
  }

  .more-comments-clikes {
    font-style: italic;
    color: #bbb;
  }

  .add-comment-link {
    font-style: italic;
    margin-left: 1px;
  }

  &:hover {
    .reference-arrow {
      cursor: pointer;

      color: #333;
      background-color: #eee;
      border-radius: 2px;

      padding: 1px 3px;
      margin: -1px -3px;

      &:hover {
        background-color: #d9ebff;
      }
    }

    .clikes-icon,
    .clikes-number {
      opacity: 1;
    }
  }

  &.hidden-comment {
    .comment-body,
    .comment-timestamp a,
    .comment-icon .icon-comment {
      color: #ccc;
      fill: #f4f4f4;
      font-style: italic;
    }
  }

  &.highlighted {
    background-color: #deedff !important; // Should override color in .targeted-comment
    border-radius: 3px;

    padding: 4px 7px 5px 7px;
    margin: 4px -7px -5px -7px;
  }

  &.targeted-comment {
    background-color: #ffb;
    border-radius: 3px;

    padding: 4px 7px 5px 7px;
    margin: 4px -7px -5px -7px;
  }

  &.comment-from-archive {
    .comment-icon {
      .icon-comment {
        color: #aca393 !important;
        fill: #fbf3df !important;
      }
      &.comment-icon-special .icon-comment {
        color: #8e9cab !important;
        fill: #fbf3ef !important;
      }
    }

    .comment-body {
      color: #777166 !important;

      a {
        color: #6a6588 !important;
      }

      .comment-timestamp {
        color: #e0d4bf !important;

        a {
          color: #cec4b0 !important;
        }
      }
    }

    &.hidden-comment {
      .comment-icon .icon-comment {
        color: #e0d4bf !important;
        fill: #fffbe2 !important;
      }

      .comment-body {
        color: #e0d4bf !important;

        .comment-timestamp a {
          color: #e0d4bf !important;
        }
      }
    }

    .comment-likes {
      color: #e0d4bf !important;

      .clikes-icon .icon-heart {
        color: #f6c361 !important;
        fill: #fffdd6 !important;
      }

      &.clikes-zero {
        color: #f1e5ce !important;

        .clikes-icon .icon-heart {
          color: #f2e4ca !important;
          fill: #ffffea !important;
        }
      }

      .clikes-number {
        color: #b0a796 !important;
      }
    }
  }
}

.comments-archive-revival {
  margin: 8px 0 -12px 0;

  .icon-bolt {
    margin-left: 5px;
  }
}

.clikes-loading {
  color: #666;
  font-style: italic;
}
.clikes-error {
  color: #b22;
}
.clikes-empty-list {
  color: #666;
}
.clikes-list {
  list-style: none;
  padding: 0;
  margin: 0;

  color: #666;

  li {
    display: inline;
  }
}
