[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -0.14em; // vertical-align an inline icon of 1em height in a text
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-bars {
  width: 12 / 14 * 1em;
}
.icon-envelope {
  width: 26 / 28 * 1em;
}
.icon-globe {
  width: 24 / 28 * 1em;
}
.icon-lock {
  width: 18 / 28 * 1em;
}
.icon-plus {
  width: 10 / 14 * 1em;
}
.icon-times {
  width: 10 / 14 * 1em;
}
