[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -0.14em; // vertical-align an inline icon of 1em height in a text
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-ban {
  width: 12 / 14 * 1.0001em;
}
.icon-bars {
  width: 12 / 14 * 1.0001em;
}
.icon-bolt {
  width: 7 / 14 * 1.0001em;
}
.icon-check-circle,
.icon-check-circle-o,
.icon-check-square {
  width: 12 / 14 * 1.0001em;
}
.icon-chevron-circle-right {
  width: 12 / 14 * 1.0001em;
}
.icon-clock {
  width: 12 / 14 * 1.0001em;
}
.icon-cloud-upload {
  width: 15 / 14 * 1.0001em;
}
.icon-envelope {
  width: 26 / 28 * 1.0001em;
}
.icon-file,
.icon-file-audio {
  width: 12 / 14 * 1.0001em;
}
.icon-globe {
  width: 24 / 28 * 1.0001em;
}
.icon-lock {
  width: 18 / 28 * 1.0001em;
}
.icon-plus {
  width: 10 / 14 * 1.0001em;
}
.icon-question-circle {
  width: 12 / 14 * 1.0001em;
}
.icon-search {
  width: 13 / 14 * 1.0001em;
}
.icon-times {
  width: 10 / 14 * 1.0001em;
}
