.likes {
  margin-top: 8px;

  .likes-icon {
    float: left;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    margin-right: 3px;

    color: #ffb914;
    line-height: 1em;

    .fa-heart {
      color: lighten(#ffb914, 40%);
    }
    .fa-heart-o {
      font-weight: bold;
    }

    &.likes-icon-liked {
      .fa-heart {
        color: #ffb914;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 4px 0 19px;

    li {
      display: inline;
    }

    .more-likes-throbber {
      margin-left: 5px;
    }
  }
}
